# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 372f91e0a804b1210dbe2129b24aa92449356cff58f96b9d7725d76993f5dd29202021c6bb9a466c3f6556dc5375fb8307da8552dba8df4ecc15c777ee2be9ed

test:
  secret_key_base: 18f6c3ad64704191217f7580df079aee640ce7a079069af770c83e93130ad7c1a89f49e8adf56be663128c987a0ef349fb1f1852cbd92fc0f3c388102b823cb6

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
